/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, select, option {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*font: inherit;*/
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**********************************************
    Typography
    *******************************************/
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 100;
    src: url(../font/NotoSansKR-Thin.woff2) format('woff2'),
    url(../font/NotoSansKR-Thin.woff) format('woff'),
    url(../font/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 200;
    src: url(../font/NotoSansKR-Light.woff2) format('woff2'),
    url(../font/NotoSansKR-Light.woff) format('woff'),
    url(../font/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 300;
    src: url(../font/NotoSansKR-DemiLight.woff2) format('woff2'),
    url(../font/NotoSansKR-DemiLight.woff) format('woff'),
    url(../font/NotoSansKR-DemiLight.otf) format('opentype');
}
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 400;
    src: url(../font/NotoSansKR-Regular.woff2) format('woff2'),
    url(../font/NotoSansKR-Regular.woff) format('woff'),
    url(../font/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 500;
    src: url(../font/NotoSansKR-Medium.woff2) format('woff2'),
    url(../font/NotoSansKR-Medium.woff) format('woff'),
    url(../font/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 700;
    src: url(../font/NotoSansKR-Bold.woff2) format('woff2'),
    url(../font/NotoSansKR-Bold.woff) format('woff'),
    url(../font/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 900;
    src: url(../font/NotoSansKR-Black.woff2) format('woff2'),
    url(../font/NotoSansKR-Black.woff) format('woff'),
    url(../font/NotoSansKR-Black.otf) format('opentype');
}
@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 400;
    src: url(../font/NanumGothic-Regular.eot);
    src: url(../font/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
    url(../font/NanumGothic-Regular.woff2) format('woff2'),
    url(../font/NanumGothic-Regular.woff) format('woff'),
    url(../font/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'HelveticaRounded';
    font-style: normal;
    font-weight: 700;
    src: url(../font/HelveticaRounded-bold.woff2) format('woff2'),
    url(../font/HelveticaRounded-bold.woff) format('woff'),
    url(../font/HelveticaRounded-bold.otf) format('opentype');
}

/**********************************************
    Icon
    *******************************************/
[class^="icon-"] {
    display: inline-block;
    background: url("../images/sprite-icon.png") repeat 0 0;
    line-height: 0;
    color: transparent;
    vertical-align: middle;
}
.icon-company {
    width: 19px;
    height: 23px;
    background-position: 0 0;
}
.icon-user {
    width: 19px;
    height: 23px;
    background-position: -38px 0;
}
.icon-lock {
    width: 19px;
    height: 23px;
    background-position: -78px 0;
}
.icon-lock-sm {
    width: 8px;
    height: 11px;
    background-position: -200px -40px;
    vertical-align: 0;
}
.icon-download {
    width: 15px;
    height: 14px;
    background-position: -120px 0;
}
.icon-home {
    width: 13px;
    height: 13px;
    background-position: -200px 0;
}
.icon-monitor {
    width: 14px;
    height: 12px;
    background-position: -240px 0;
}
.icon-set {
    width: 19px;
    height: 19px;
    background-position: -320px -80px;
}
[class^="badge-"] {
    display: inline-block;
    width: 22px;
    height: 15px;
    background: url("../images/sprite-icon.png") repeat 0 0;
    line-height: 0;
    font-style: normal;
    color: transparent;
    vertical-align: middle;
}
.badge-report {
    background-position: -240px -120px;
}
.badge-pendency {
    background-position: -280px -120px;
}
.badge-return {
    background-position: -320px -120px;
}
.badge-approve {
    background-position: -360px -120px;
}
.badge-progress {
    background-position: -400px -120px;
}
.badge-new {
    width: 14px;
    height: 14px;
    background-position: -440px -120px;
    vertical-align: 7px;
}
.badge-unit {
    position: absolute;
    top: 1px;
    right: -7px;
    width: auto;
    min-width: 20px;
    height: 16px;
    padding: 0 4px;
    border-radius: 8px;
    background: #ff7575;
    font: 700 11px/16px 'Arial';
    /*font-weight: 700;*/
    /*font-size: 10px;*/
    /*line-height: 15px;*/
    color: #fff;
    text-align: center;
}

/**********************************************
    Button
    *******************************************/
.btn {
    display: inline-block;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    background-color: #fff;
    font-size: 14px;
    line-height: 2.29;
    color: #444;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}
.btn-sm { /*height: 21px;*/
    padding: 0 6px;
    font-size: 12px;
    line-height: 1.59;
}
.btn-md {}
.btn-lg { /*height: 60px;*/
    font-size: 22px;
    line-height: 2.64;
}
.btn-primary {
    border-color: #009ddc;
    background-color: #009ddc;
    color: #fff;
}
.btn-gray {
    border-color: #959595;
    background-color: #959595;
    color: #fff;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-icon-left [class^="icon-"] {
    margin-right: 3px;
    vertical-align: -1px;
}
.btn-icon-right [class^="icon-"] {
    margin-left: 3px;
    vertical-align: -1px;
}

/**********************************************
    Form
    *******************************************/
.form-control {
    width: 100%;
    padding: 0 20px;
    border: 1px solid #e8e8e8;
    font: 13px 'NotoSansKR', sans-serif;
    color: #666;
}
.form-control::placeholder {
    color: #a7a9ac;
}
/*Selectbox*/
.selectbox {
    position: relative;
    display: inline-block;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    text-align: left;
}
.selectbox select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 26px;
    opacity: 0;
    cursor: pointer;
}
.selectbox .selectbox-value {
    display: block;
    padding: 0 35px 0 15px;
    background-color: #fff;
    font-weight: 400;
    line-height: 1.85;
}
.selectbox .selectbox-value:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: inline-block;
    width: 27px;
    height: 24px;
    margin: auto;
    background: url("../images/sprite-icon.png") no-repeat -152px 9px;
    line-height: 0;
    color: transparent;
    vertical-align: middle;
    content: '';
}
/*Checkbox*/
.checkbox{
    display: inline-block;
}
.checkbox input[type="checkbox"] {
    position: fixed;
    top: -9999px;
    left: -9999px;
    visibility: hidden;
}
.checkbox .checkbox-display,
.checkbox .checkbox-label {
    cursor: pointer;
}
/*.checkbox .checkbox-display {*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*margin-right: 12px;*/
    /*vertical-align: top;*/
/*}*/
/*.checkbox .checkbox-label {*/
    /*font: 20px 'NotoSansKR', sans-serif;*/
    /*color: #898989;*/
/*}*/
.checkbox input[type="checkbox"]:checked ~ .checkbox-display,
.checkbox input[type="checkbox"]:checked ~ .checkbox-label {
    transition: all 0.3s ease;
}
/*.checkbox .checkbox-display {*/
    /*width: 23px;*/
    /*height: 23px;*/
    /*background-image: url(../images/form-checkbox.png);*/
    /*vertical-align: text-bottom;*/
/*}*/
/*.checkbox input[type="checkbox"]:checked ~ .checkbox-display {*/
    /*background-image: url(../images/form-checkbox-checked.png);*/
/*}*/

/**********************************************
    Tab
    *******************************************/
.tabs {
    width: 100%;
    border-bottom: 1px solid #dee3eb;
}
.tabs .tab {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
}
.tabs .tab a {
    font-size: 15px;
    color: #7c7c7c;
}
.tabs .tab a.active {
    border-bottom: 3px solid #00a7e4;
    color: #00a7e4;
}

/**********************************************
    Scaffolding
    *******************************************/
body {
    background-color: #fff;
    font: 400 13px 'NotoSansKR', sans-serif;
    color: #666;
    /*letter-spacing: -1px;*/
}
a, a:hover {
    color: #666;
    text-decoration: none;
}
/*img, .image img {*/
    /*width: 100%;*/
/*}*/
button {
    border: 0;
    background-color: transparent;
    font-family: 'NotoSansKR', sans-serif;
    cursor: pointer;
}

/**********************************************
    Layout
    *******************************************/
body {
    overflow-y: hidden;
}
.wrap {
    width: 100%;
    min-width: 1200px;
}
.content {
    overflow-y: auto;
}

/**********************************************
    Header
    *******************************************/
.header {
    border-bottom: 2px solid #00a7e4;
    background-color: #fff;
}
.header-top {
    padding: 5px 17px;
}
.header-top:before, .header-top:after {
    content: "";
    display: table;
    clear: both;
}
.brand-slogan {
    float: left;
    margin-top: 6px;
}
.brand-slogan a {
    display: block;
    width: 214px;
    height: 31px;
    background: url("../images/brand-slogan.png") no-repeat 0 0;
}
.quick-access {
    float: right;
}
.quick-access > li {
    float: left;
    margin: 10px 10px 0 0;
}
.quick-access li.quick-user {
    position: relative;
    margin: 0 10px 0 5px;
}
.quick-access > li > a {
    display: block;
    width: 30px;
    height: 30px;
    background: url("../images/sprite-icon.png") no-repeat 0 0;
}
.quick-access li.quick-search a {
    background-position: -280px 0;
}
.quick-access li.quick-search a.active {
    position: inherit;
    z-index: 11;
    background-position: -360px -160px;
}
.quick-access li.quick-folder a {
    position: relative;
    background-position: -320px 0;
}
.quick-access li.quick-help a {
    background-position: -360px 0;
}
.quick-access li.quick-configuration a {
    background-position: -400px 0;
}
.quick-access li.quick-user > a {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #dee3eb;
    background-size: cover;
}
.quick-search {
    position: relative;
}
.search-box {
    display: none;
    position: absolute;
    top: -5px;
    right: -4px;
    width: 360px;
    height: 40px;
    border: 1px solid #e6e9f0;
}
.search-box .selectbox {
    float: left;
    border: 0;
    border-right: 1px solid #e6e9f0;
}
.search-box .selectbox .selectbox-value {
    padding: 0 27px 0 6px;
    font-size: 14px;
    line-height: 2.72;
}
.search-box .search-input {
    float: left;
}
.search-box .search-input .form-control {
    width: 235px;
    height: 38px;
    border: 0;
}
.user-box {
    display: none;
    position: absolute;
    top: 53px;
    right: -17px;
    z-index: 10;
    width: 300px;
    padding: 10px;
    border: 1px solid #e7eaf0;
    border-radius: 2px;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 5px -2px #eaecef;
    -moz-box-shadow: 1px 2px 5px -2px #eaecef;
    box-shadow: 1px 2px 5px -2px #eaecef;
    font-size: 14px;
    text-align: left;
}
.user-box:before {
    position: absolute;
    top: -6px;
    right: 32px;
    z-index: 11;
    width: 11px;
    height: 6px;
    background: url("../images/sprite-icon.png") no-repeat -320px -160px;
    content: '';
}
.user-box.open {
    display: block;
}
.user-box .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    width: 13px;
    height: 13px;
    background: url("../images/sprite-icon.png") no-repeat 0 -120px;
}
.user-box .user-image {
    float: left;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #dee3eb;
    background-size: cover;
}
.user-box .user-account {
    float: left;
    width: 100%;
    margin-top: -75px;
    padding: 8px 0 0 85px;
    font-size: 13px;
    font-family: 'NanumGothic', sans-serif;
    color: #8a8a8a;
}
.user-box .user-account .user-name {
    margin-bottom: 7px;
    font-size: 15px;
}
.user-box .user-account .user-name strong {
    color: #1f1f1f;
}
.user-box .user-account .my-information {
    overflow: hidden;
    margin-top: 7px;
}
.user-box .user-account .my-information .link-my-info {
    float: left;
    color: #00a7e4;
}
.user-box .user-account .my-information .btn {
    float: right;
}
.header-bottom {
    position: relative;
    /*padding: 16px 0 17px;*/
    border-top: 1px solid #e6e9f0;
}
.quick-link {
    position: absolute;
    top: 13px;
    left: 20px;
}
.quick-link .btn {
    font-size: 13px;
    line-height: 2.16;
}
/* 메인메뉴 */
.magamenu {
    text-align: center;
}
.menu {
    display: inline-block;
}
.menu > li {
    position: relative;
    display: inline-block;
}
.menu > li > a {
    display: block;
    padding: 16px 30px 17px;
    font-weight: 300;
    font-size: 16px;
    color: #000;
}
.menu > li:hover > a, .menu > li.current > a {
    color: #00a7e4;
}
.menu > li.menu-child-after:after {
    position: fixed;
    top: 116px;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 49px;
    background-color: #00a7e4;
    content: '';
}
.menu li .menu-child {
    display: none;
    position: absolute;
    top: 57px;
    left: 0;
    right: 0;
    z-index: 11;
    width: 750px;
    height: 49px;
    padding: 14px 24px;
    text-align: left;
}
.menu li .menu-child > li {
    display: inline-block;
}
.menu li .menu-child > li a {
    padding: 0 6px;
    font-size: 14px;
    color: #fff;
}
.all-menu {
    position: relative;
    display: inline-block;
}
.btn-all-menu {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 16px;
    margin-left: 25px;
    background: url("../images/sprite-icon.png") no-repeat -440px 0;
    vertical-align: text-top;
}
.btn-all-menu:before {
    position: absolute;
    top: -1px;
    left: -29px;
    width: 1px;
    height: 20px;
    background-color: #dfdfdf;
    content: '';
}
.all-menu-box {
    display: none;
    position: absolute;
    top: 37px;
    right: -160px;
    z-index: 10;
    width: 760px;
    padding: 30px 30px 15px;
    border: 1px solid #e7eaf0;
    border-radius: 2px;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 5px -2px #eaecef;
    -moz-box-shadow: 1px 2px 5px -2px #eaecef;
    box-shadow: 1px 2px 5px -2px #eaecef;
    font-size: 14px;
    text-align: left;
}
.all-menu-box:before {
    position: absolute;
    top: -6px;
    right: 162px;
    z-index: 11;
    width: 11px;
    height: 6px;
    background: url("../images/sprite-icon.png") no-repeat -320px -160px;
    content: '';
}
.all-menu-box.open {
    display: block;
}
.all-menu-box .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    width: 13px;
    height: 13px;
    background: url("../images/sprite-icon.png") no-repeat 0 -120px;
}
.all-menu-list  > li {
    display: inline-block;
    vertical-align: top;
}
.all-menu-list > li > a {
    padding: 0 30px;
    color: #000;
}
.all-menu-list ul {
    margin-top: 10px;
    padding-left: 30px;
}
.all-menu-list > li:first-child > a, .all-menu-list > li:first-child ul {
    padding-left: 0;
}
.all-menu-list > li:last-child > a, .all-menu-list > li:last-child ul {
    padding-right: 0;
}
.all-menu-list ul > li > a {
    display: inline-block;
    padding: 2px 0;
    font-weight: 200;
    color: #737373;
}
.all-menu-list ul > li > a:hover, .all-menu-list ul > li.current > a {
    color: #00a7e4;
}

/**********************************************
    Footer
    *******************************************/
.footer {
    /*position: absolute;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*min-width: 1200px;*/
    padding: 17px 25px 13px 20px;
    border-top: 1px solid #e8e8e8;
    background-color: #fff;
}
.footer:before, .footer:after {
    content: "";
    display: table;
}
.footer:after {
    clear: both;
}
.footer-brand-logo {
    float: left;
    width: 96px;
    height: 16px;
    margin-top: 3px;
    background: url("../images/footer-brand-logo.png") no-repeat 0 0;
}
.footer-notice {
    float: left;
    margin-left: 27px;
    color: #5e5e5e;
}
.footer-notice .category {
    color: #ef7520;
}
.footer-menu {
    float: right;
}
.footer-menu li {
    display: inline-block;
}
.footer-menu li:before {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 1px 10px 0 8px;
    background-color: #cacaca;
    vertical-align: -1px;
    content: '';
}
.footer-menu li:first-child:before {
    display: none;
}
.footer-menu li a {
    color: #5e5e5e;
}

/**********************************************
    Login
    *******************************************/
.login {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    min-width: 386px;
}
.login-in {
    display: table-cell;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
}
.login-box {
    display: inline-block;
    width: 100%;
    max-width: 480px;
    margin: 12px 0 11px;
    padding: 0 10px;
    text-align: left;
}
.login .brand-logo {
    width: 100%;
    height: 24px;
    background: url("../images/brand-logo.png") no-repeat 50% 0;
}
.login .form-control {
    height: 49px;
    padding: 0;
    border: 0;
    font-size: 15px;
    line-height: 3.26;
    color: #a7a9ac;
}
.login .checkbox .checkbox-label {
    font: 14px 'NotoSansKR', sans-serif;
    color: #444;
}
.login .checkbox .checkbox-display {
    display: inline-block;
    width: 23px;
    height: 23px;
    margin-right: 6px;
    background-image: url(../images/form-checkbox.png);
    vertical-align: top;
}
.login .checkbox input[type="checkbox"]:checked ~ .checkbox-display {
    background-image: url(../images/form-checkbox-checked.png);
}
.login .selectbox {
    width: 100%;
    border: 0;
}
.login .selectbox select {
    min-height: 30px;
}
.login .selectbox .selectbox-value {
    padding-left: 0;
    font-size: 15px;
    line-height: 3.26;
    color: #a7a9ac;
}
.login .selectbox .selectbox-value:after {
    width: 35px;
    height: 49px;
    background-position: -148px 23px;
}
.login-input {
    padding: 0 12px;
    border: 1px solid #e0e0e0;
}
.login-input li {
    position: relative;
    padding-left: 40px;
    border-bottom: 1px solid #e8e8e8;
}
.login-input li:last-child {
    border-bottom: 0;
}
.login-input li .form-label {
    position: absolute;
    top: 13px;
    left: 11px;
}
.login-help {
    padding: 8px 0 22px;
}
.login-help .checkbox {
    float: left;
    padding-top: 7px;
}
.login-help .btn-box {
    float: right;
}
.login-help .btn-box .btn-password-reset {
    background-color: #fcfcfc;
}
.login-help .btn-box .btn-help {
    background-color: #f8f8f8;
}
.login-bottom:before {
    display: inline-block;
    width: 100%;
    max-width: 840px;
    height: 1px;
    background-image:
        linear-gradient(
            to right,
            #fff, #ddd, #fff
        );
    content: '';
}
.slogan {
    padding: 24px 10px 20px;
}
.slogan-text {
    position: relative;
    display: inline-block;
    padding-left: 51px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -1px;
    text-align: left;
    vertical-align: middle;
}
.slogan-text:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 45px;
    height: 63px;
    margin-top: -10px;
    background: url("../images/sprite-icon.png") no-repeat 0 -40px;
    vertical-align: middle;
    content: '';
}
.slogan p {
    color: #7c7b81;
}
.slogan span {
    font-family: 'HelveticaRounded', sans-serif;
    color: #009fdb;
}
.setup-file {

}
.setup-file .title {
    display: inline-block;
    width: 100%;
    max-width: 385px;
    padding-left: 10px;
    font-size: 15px;
    color: #575757;
    text-align: left;
}
.setup-file .btn-box {
    width: 100%;
    padding: 6px 10px;
    background-color: #eff1f4;
}
.setup-file .btn-box .btn {
    background-color: transparent;
}
.uc-setup-wrap {
    position: relative;
    display: inline-block;
}
.uc-setup {
    display: none;
    position: absolute;
    top: -5px;
    left: 100%;
    width: 160px;
    padding: 5px;
    border: 1px solid #000;
    background-color: #fff;
    font-size: 11px;
    text-align: left;
}
.uc-setup .btn-close {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0 3px;
    border: 1px solid #000;
    font-weight: 700;
    color: #000;
}
.uc-setup ul li:before {
    display: inline-block;
    width: 2px;
    height: 2px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #000;
    vertical-align: 3px;
    content: '';
}
.uc-setup ul li a {
    color: #009fdb;
    text-decoration: underline;
}
/* 로그아웃 */
.logout {
    display: inline-block;
    margin-top: 25px;
    padding: 80px 0;
    border-top: 1px solid #e8e8e8;
}
.logout strong {
    padding-left: 35px;
    background: url("../images/sprite-icon.png") no-repeat -440px -72px;
    font-weight: 400;
    font-size: 24px;
    color: #4d4d4f;
}
.logout p {
    margin-top: 4px;
    font-size: 16px;
    color: #6d6e71;
}
.logout p.site-help-text {
    margin-top: 35px;
    color: #a7a9ac;
}

/**********************************************
    Portal
    *******************************************/
.portal {
    background-color: #f2f4f7;
}
.portal-content {
    /*max-width: 1250px;*/
    /*margin: 0 auto;*/
    padding: 0 10px 27px;
}
.portal-content:before,.portal-content:after {
    content: "";
    display: table;
    clear: both;
}
.column-left {
    float: left;
    width: 100%;
    padding-left: 334px;
    margin-left: -334px;
}
.column-right {
    float: right;
    width: 320px;
    margin-left: 14px;
}
.portlet-box {
    width: 100%;
    margin-top: 15px;
    background-color: #fff;
    border: 1px solid #dee3eb;
}
.column-left .tabs {
    padding: 12px 15px 10px;
}
.column-left .tabs .tab a.active {
    padding-bottom: 7px;
}
.portal-board > .tabs {
    border-bottom: 1px solid #dee3eb;
}
.portal-board > .tabs .tab a.active {
    padding-bottom: 0;
    border-bottom: 0;
    color: #000;
}
.portal-board .tab-panel .tabs {
    padding: 5px 20px 8px;
    background-color: #f7f7f9;
}
.portal-board .tab-panel .tabs .tab {
    padding: 0 5px;
}
.portal-board .tab-panel .tabs .tab a {
    font-weight: 300;
    font-size: 14px;
}
.portal-board .tab-panel .tabs .tab a.active {
    border-bottom: 0;
}
.portal-board .tab-panel .tab-panel {
    padding: 11px 18px;
}
.board-list {}
.board-list li {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 6px 0;
}
.board-list li > * {
    display: table-cell;
}
.board-list li .subject {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal !important;
}
.board-list li .subject:before {
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-right: 7px;
    background-color: #918f8f;
    vertical-align: 3px;
    content: '';
}
.board-list li .category {
    color: #ee761d;
}
.board-list li a {
    color: #737373;
}
.board-list li .author {
    width: 70px;
    text-align: right;
}
.board-list li .date {
    width: 100px;
    text-align: right;
}
.tab-panel {
    position: relative;
}
.btn-board-more {
    position: absolute;
    top: -45px;
    right: 0;
}
.btn-board-more a {
    float: left;
    width: 44px;
    height: 44px;
    border-left: 1px solid #ebeef3;
    line-height: 49px;
    text-align: center;
}
.btn-board-more a:after {
    display: inline-block;
    width: 8px;
    height: 15px;
    background: url("../images/sprite-icon.png") no-repeat 0 0;
    content: '';
}
.btn-board-more a.board-prev:after {
    background-position: -80px -40px;
}
.btn-board-more a.board-next:after {
    background-position: -120px -40px;
}
.btn-board-more a.board-refresh:after {
    width: 15px;
    background-position: -160px -40px;
}
.portal-theme .tab a:before {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 3px;
    background: url("../images/sprite-icon.png") no-repeat 0 0;
    vertical-align: -3px;
    content: '';
}
.portal-theme .tab.theme1 a:before {
    background-position: -80px -80px;
}
.portal-theme .tab.theme2 a:before {
    background-position: -120px -80px;
}
.portal-theme .tab.theme3 a:before {
    background-position: -160px -80px;
}
.portal-theme .tab.theme4 a:before {
    background-position: -200px -80px;
}
.portal-theme .tab a.active:before {
    background-position-y: -120px;
}
.portal-theme iframe {
    width: 100%;
    height: 370px;
}
.portal-story .tab-panel {
    padding: 11px 18px;
}
.profile {
    overflow: hidden;
    padding: 17px 12px 15px 15px;
}
.profile .private span {
    display: block;
    font-weight: 300;
    color: #1f1f1f;
}
.profile .private .user-name {
    margin-bottom: 4px;
}
.profile .private .user-name strong {
    font-weight: 400;
    font-size: 14px;
    color: #00a7e4;
}
.user-service {
    overflow: hidden;
    padding: 22px 10px 4px;
    border-top: 1px solid #e7eaf0;
}
.user-service li {
    position: relative;
    float: left;
    width: 16.66%;
    text-align: center;
}
.user-service li a {
    font-family: 'NanumGothic', sans-serif;
    color: #787878;
}
.user-service li .item-count {
    position: absolute;
    top: -22px;
    left: 0;
    right: 0;
    margin: auto;
}
.user-service li .item-count em {
    position: relative;
    display: inline-block;
    width: auto;
    min-width: 20px;
    height: 12px;
    padding: 0 3px;
    background: #ee761d;
    font-size: 10px;
    line-height: 12px;
    font-style: normal;
    color: #fff;
}
.user-service li .item-count em:after {
    position: absolute;
    left: 0;
    bottom: -4px;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #ee761d;
    content: '';
}
.user-service li:before {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto 1px;
    background: url("../images/sprite-icon.png") no-repeat 0 0;
    content: '';
}
.user-service li.service-item1:before {
    background-position: -240px -40px;
}
.user-service li.service-item2:before {
    background-position: -280px -40px;
}
.user-service li.service-item3:before {
    background-position: -320px -40px;
}
.user-service li.service-item4:before {
    background-position: -360px -40px;
}
.user-service li.service-item5:before {
    background-position: -400px -40px;
}
.user-service li.service-item6:before {
    background-position: -440px -40px;
}
.column-right .tabs {
    padding: 10px 3px;
}
.column-right .tabs .tab a {
    padding-bottom: 7px;
    font-weight: 300;
    font-size: 13px;
    color: #101010;
}
.column-right .tabs .tab a.active {
    color: #00a7e4;
}
.user-convenience {
    border-top: 1px solid #dee3eb;
}
.convenience-head {
    position: relative;
    padding-left: 13px;
    border-bottom: 1px solid #dee3eb;
}
.tabs.convenience-tab {
    display: block;
    padding: 0 81px 0 0;
    border-bottom: 0;
}
.tabs.convenience-tab:before,
.tabs.convenience-tab:after {
    display: table;
    content: '';
}
.tabs.convenience-tab:after {
    clear: both;
}
.tabs.convenience-tab .tab {
    float: left;
    display: block;
    width: auto;
    height: 34px;
    padding: 7px 0 8px;
    text-align: center;
}
.tabs.convenience-tab .tab a {
    padding: 0 18px 0 0;
    border-bottom: 0;
    color: #666;
}
.slide-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 34px;
    padding: 11px 0 8px;
    background-color: #fff;
    border-left: 1px solid #ebeef3;
    font-size: 0;
    line-height: 0;
    text-align: center;
}
.slide-arrow:after {
    display: inline-block;
    width: 6px;
    height: 11px;
    background: url("../images/sprite-icon.png") no-repeat 0 0;
    content: '';
}
.slide-prev {
    right: 34px;
}
.slide-prev:after {
    background-position: -240px -80px;
}
.slide-next:after {
    background-position: -280px -80px;
}
/* 전자결재 */
.approval-list {
    padding: 7px 10px;
    font-weight: 200;
    font-size: 12px;
}
.approval-list li {
    position: relative;
    margin: 5px 0;
}
.approval-list li i {
    position: absolute;
    top: 2px;
    left: 0;
}
.approval-list a {
    display: block;
    margin-left: 3px;
    padding-left: 25px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal !important;
}
.approval-list p {
    overflow: hidden;
    padding-left: 28px;
    color: #7d7d7d;
}
.approval-list p span {
    float: left;
}
.approval-list p small {
    float: right;
    font-size: 11px;
}
/*.exchange {}*/
/*.exchange iframe {*/
    /*display: block;*/
    /*width: 180px;*/
    /*height: 170px;*/
    /*margin: auto;*/
    /*overflow: hidden;*/
/*}*/
/* MY QUICK */
.my-quick-list:before, .my-quick-list:after {
    content: "";
    display: table;
    clear: both;
}
.my-quick-list li {
    position: relative;
    float: left;
    width: 25%;
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    text-align: center;
}
.my-quick-list li:nth-child(4n+1) {
    border-left: 0;
}
.my-quick-list li a {
    display: block;
    padding: 12px 2px 6px;
    font-size: 12px;
    font-family: 'NanumGothic', sans-serif;
    color: #505050;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal !important;
}
/* MY QUICK ICON */
.my-quick-list li a:before {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto 6px;
    border-radius: 50%;
    background: #e7eaf0 url("../images/sprite-icon.png") no-repeat 0 0;
    content: '';
}
.my-quick-list li.work-quick1 a:before { /*영업*/
     background-position: 5px -155px;
}
.my-quick-list li.work-quick2 a:before { /*경영지원*/
    background-position: -35px -155px;
}
.my-quick-list li.work-quick3 a:before { /*혁신포탈*/
    background-position: -75px -155px;
}
.my-quick-list li.work-quick4 a:before { /*웹전표*/
    background-position: -115px -155px;
}
.my-quick-list li.work-quick5 a:before { /*법무서비스*/
    background-position: -155px -155px;
}
.my-quick-list li.work-quick6 a:before { /*출장*/
    background-position: -195px -155px;
}
.my-quick-list li.work-quick7 a:before { /*총무*/
    background-position: -235px -155px;
}
.my-quick-list li.work-quick8 a:before { /*규정관리*/
    background-position: -275px -155px;
}
.my-quick-list .need-login:after {
    position: absolute;
    top: 10px;
    right: 8px;
}
.my-quick-option {
    overflow: hidden;
    width: 100%;
    padding: 10px 15px;
}
.my-quick-option span {
    float: left;
}
.my-quick-list .need-login:after, .my-quick-option span:before {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 4px;
    background: url("../images/sprite-icon.png") no-repeat -40px -120px;
    vertical-align: bottom;
    content: '';
}
.my-quick-option .btn-set {
    float: right;
}
/*CEO 및 본부 일정*/
.schedule-box {}
.schedule-box .tabs {
    overflow: hidden;
    padding: 8px 9px;
    background-color: #f7f7f9;
}
.schedule-box .tab {
    float: left;
    width: 14.28%;
    text-align: center;
}
.schedule-box .tabs .tab a {
    font-size: 12px;
    color: #616161;
}
.schedule-box .tab small {
    display: block;
}
.schedule-box .tabs .tab a.active {
    border-bottom: 0;
    color: #f57f35;
}
.schedule-box .tab-panel {
    padding: 7px 15px;
}
.schedule-board-list {
    font-size: 12px;
}
.schedule-board-list li {
    padding: 5px 0;
    cursor: pointer;
}
.schedule-board-list li:before {
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-right: 5px;
    background-color: #918f8f;
    vertical-align: 3px;
    content: '';
}
.btn-schedule {
    position: absolute;
    top: -30px;
    right: 8px;
}
.btn-schedule a {
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url("../images/sprite-icon.png") no-repeat 0 0;
    text-align: center;
}
.btn-schedule a.schedule-register {
    background-position: -360px -80px;
}
.btn-schedule a.schedule-more {
    background-position: -400px -80px;
}
.schedule-option {
    overflow: hidden;
    width: 100%;
    padding: 7px 10px 7px 12px;
    border-top: 1px solid #e8e8e8;
}
.schedule-option span {
    float: left;
    padding-top: 2px;
    color: #6c6c6c;
}
.schedule-option .selectbox {
    float: right;
    width: 150px;
}

/**********************************************
    Help Class
    *******************************************/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.hide {
    display: none;
}
.show {
    display: block;
}