/**********************************************
    Form
    *******************************************/
.content-inner {
    height: auto;
    padding: 16px 18px;
    background-color: #f2f4f7;
    box-sizing: border-box;
}
.content-inner:before, .content-inner:after {
    content: '';
    display: table;
}
.content-inner:after {
    clear: both;
}
body {
    overflow-y: auto;
}
input[type=radio], input[type=checkbox] {
    vertical-align: middle;
}
.selectbox .selectbox-value:after {
    right: 7px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #949494;
}
.form {
    width: 100%;
}
.form-inner {
    border: 1px solid #dee3eb;
    background-color: #fff;
}
/* Header */
.form-head {
    padding: 13px 10px 11px;
    border-bottom: 1px solid #e5e5e5;
}
.form-head:before, .form-head:after {
    display: table;
    content: '';
}
.form-head:after {
    clear: both;
}
.form-head-btn {
    float: left;
}
.form-head-btn > * {
    float: left;
    margin-right: 5px;
}
.form-head-btn > *:last-child {
    margin-right: 0;
}
.form-head-btn .checkbox-box {
    padding: 7px 10px 6px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
}
.form-head-btn .selectbox .selectbox-value {
    padding: 0 20px 0 8px;
    line-height: 2.47;
    color: #444;
}
.btn-arrow-prev, .btn-arrow-next {
    position: relative;
    width: 34px;
    height: 34px;
}
.btn-arrow-prev:before, .btn-arrow-next:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    margin: auto;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
}
.btn-arrow-prev:before {
    border-bottom: 6px solid #00a7e4;
}
.btn-arrow-next:before {
    border-top: 6px solid #00a7e4;
}
.btn-print:before {
    display: inline-block;
    width: 14px;
    height: 13px;
    background: url("../images/sprite-icon.png") no-repeat -400px -280px;
    vertical-align: -1px;
    content: '';
}
.form-head-search {
    float: right;
}
.form-head-search .search-box {
    position: static;
    display: block;
    width: 230px;
    height: 34px;
}
.form-head-search .search-box .selectbox .selectbox-value {
    padding: 0 30px 0 15px;
    font-size: 13px;
    line-height: 2.47;
}
.form-head-search .search-box .selectbox .selectbox-value:after {
    right: 12px;
    border-top-color: #494949;
}
.form-head-search .search-box .search-input .form-control {
    width: 120px;
    height: 32px;
}
.form-head-search .search-box .btn-search {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: 7px 0 0 11px;
    background: url("../images/sprite-icon.png") no-repeat -440px -200px;
    vertical-align: middle;
}

.selectbox .selectbox-value:after {
    right: 7px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #949494;
}
.form-item-wrap {
    padding: 13px;
}
.form-item {
    border-collapse: collapse;
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
}
.item-label, .item-input,
.form-item th, .form-item td {
    border-top: 1px solid #f1f1f1;
}
.item-input, .form-item td {
    padding: 4px 0 4px 10px;
}
.form-item td.item-label, .form-item th {
    width: 133px;
    padding-left: 0;
    text-align: center;
    background-color: #f8f8f8;
    font-weight: 400;
}
.form-item tr:first-child .item-label, .form-item tr:first-child .item-input,
.form-item tr:first-child th, .form-item tr:first-child td {
    border-top: 1px solid #e2e2e2;
}
.item-label .label {
    display: inline-block;
    width: 70px;
    font-weight: 400;
    line-height: 26px;
    color: #000;
}
.item-input input {
     height: 26px;
     padding: 0 10px;
     outline: none;
 }
.item-input .form-control:focus, .item-input  #DisSubject input:focus {
    border-color: #00a7e4;
    outline: none;
}
.item-label input[type=checkbox] {
    vertical-align: -2px;
}
select {
    display: inline-block;
    height: 26px;
    border: 1px solid #e0e0e0 !important;
}
.form-content {
    padding: 0 13px 13px;
}

/**********************************************
    Mail Configuration
    *******************************************/
.mail-configuration {
    height: 100%;
    border: 1px solid #dee3eb;
    background-color: #fff;
}

/**********************************************
    dhtmlx Custom
    *******************************************/
#AttachMgrTd {
    font-weight: 400;
    color: #000;
}
#embedControlAttachMgr {
    padding: 0;
    background-color: #fff;
}
#attmWrite {
    margin: 5px 0 0 !important;
}