/**********************************************
    Form
    *******************************************/
.mail-form-item {
     padding: 13px;
 }
.mail-item {
    display: table;
    width: 100%;
    min-height: 34px;
    padding: 4px 0;
}
.mail-item > .mail-label,
.mail-item > .mail-input {
    display: table-cell;
    vertical-align: top;
}
.mail-item > .mail-label {
    padding-top: 3px;
}
.btn-hidden-view {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #ddd;
}
.btn-hidden-view:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #666;
    content: '';
}
.btn-hidden-view.on:before {
    border-top: 0;
    border-bottom: 3px solid #666;
}
.mail-label {
    width: 133px;
}
.mail-label .item-label {
    display: inline-block;
    width: 70px;
    font-weight: 400;
    color: #000;
}
.mail-label input[type=checkbox] {
    vertical-align: -2px;
}
.mail-input {
    padding-right: 51px;
}
.mail-input .form-control {
    height: 26px;
    padding: 0 10px;
    outline: none;
}
.mail-input .form-control:focus {
    border-color: #00a7e4;
}
.mail-input textarea.form-control {
    height: 26px;
    resize: vertical;
}
.mail-input .btn {
    float: right;
    margin: 2px -51px 0 0;
}
.mail-input-wrap {
    padding-right: 0;
}
.mail-form-bcc {
    display: none;
}
.mail-form-bcc.on {
    display: table;
}
.mail-form-attach {
    display: none;
    min-height: 26px;
    border: 1px solid #e8e8e8;
}
.mail-form-attach.on {
    display: block;
}
.editor-frame {
    padding: 0 13px;
}