/**********************************************
    Form Mail
    *******************************************/
.content-inner {
    height: auto;
}
.form-body {
    overflow: hidden;
    overflow-y: auto;
}
.form-inner {
    border: 1px solid #dee3eb;
}
.table {
    border-bottom: 0;
}
.table th, .table td,
.table tr:first-child th, .table tr:first-child td {
    border-top: 0;
}
.table th {
    border-right: 0;
    background-color: #fff;
    text-align: left;
}
.table .label {
    width: 75px;
}
.table .label ~ label {
    margin-left: 0;
}
td.add-btn-address {
    padding-right: 98px;
}
.add-btn-address .btn {
    float: right;
    margin-top: 2px;
}
.add-btn-address .btn:nth-of-type(1) {
    margin-right: -51px;
}
.add-btn-address .btn:nth-of-type(2) {
    margin-right: -91px;
}

/**********************************************
    dhtmlx Custom
    *******************************************/
/*메일폼 에디터 영역*/
#editorarea {
    margin-top: -18px;
    padding: 0 18px;
}
/*수신인 표시*/
#img4Title {
    float: left;
    width: 12px;
    height: 12px;
    margin: 5px 4px 0 0;
    background: url('../emate/codebase/imgs/dhxwins_skyblue/dhxwins_icon.gif') no-repeat 0 0;
}
#starDisplay,
#DismyName img {
    vertical-align:middle
}
#DissendName,#DiscopyName {
    width: 100%;
    padding: 0;
    background-color: #fff;
    border-color: transparent;
    color: #666;
    resize: vertical;
}