/**********************************************
    View
    *******************************************/
.view-content, .preview-content, .preview {
    overflow: hidden;
    overflow-y: auto;
}
.view {
    float: left;
    width: 100%;
    margin-left: -252px;
    padding-left: 272px;
}