/**********************************************
    Form
    *******************************************/
.form-body {
    overflow: hidden;
    overflow-y: auto;
}
.form {
    float: left;
    width: 100%;
    margin-left: -252px;
    padding-left: 272px;
}

/**********************************************
    Mail Configuration
    *******************************************/
.border-box {
    /*float: left;*/
    /*width: 100%;*/
    margin-left: 272px;
    border: 1px solid #dee3eb;
    background-color: #fff;
}