/**********************************************
    View - Left
    *******************************************/
.left {
    float: left;
    width: 252px;
    padding-bottom: 57px;
    border: 1px solid #dee3eb;
    background-color: #fff;
}