/**********************************************
    Portal
    *******************************************/
.portal {
    background-color: #f2f4f7;
}
.portal-content {
    /*max-width: 1250px;*/
    /*margin: 0 auto;*/
    padding: 0 10px 27px;
    background-color: #f2f4f7;
}
.portal-content:before,.portal-content:after {
    content: "";
    display: table;
    clear: both;
}
.column-left {
    float: left;
    width: 100%;
    padding-left: 334px;
    margin-left: -334px;
}
.column-right {
    float: right;
    width: 320px;
    margin-left: 14px;
}
.portlet-box {
    width: 100%;
    margin-top: 15px;
    background-color: #fff;
    border: 1px solid #dee3eb;
}
.no-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 19px;
    margin: auto;
    text-align: center;
}
.column-left .tabs {
    padding: 12px 15px 10px;
}
.column-left .tabs .tab a.active {
    padding-bottom: 7px;
}
.portal-board > .tabs {
    border-bottom: 1px solid #dee3eb;
}
.portal-board > .tabs .tab a.active {
    padding-bottom: 0;
    border-bottom: 0;
    color: #000;
}
.portal-board .tab-panel .tabs {
    height: 34px;
    padding: 5px 20px 8px;
    background-color: #f7f7f9;
}
.portal-board .tab-panel .tabs .tab {
    padding: 0 5px;
}
.portal-board .tab-panel .tabs .tab a {
    font-weight: 300;
    font-size: 14px;
}
.portal-board .tab-panel .tabs .tab a.active {
    border-bottom: 0;
}
.portal-board .tab-panel .tab-panel {
    overflow: hidden;
    height: 310px;
    padding: 10px 18px;
}
.board-list {}
.board-list li {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 5px 0;
}
@-moz-document url-prefix(){.board-list li {padding: 4px 0;}}
.board-list li > * {
    display: table-cell;
}
.board-list li .subject, .board-list li .author {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal !important;
}
.board-list li .subject {
    padding-right: 10px;
}
.board-list li .subject:before {
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-right: 7px;
    background-color: #918f8f;
    vertical-align: 3px;
    content: '';
}
.board-list li .fixed a {
    color: #00a3d8;
}
.board-list li .today a {
    font-weight: 500;
}
.board-list li .category {
    margin-right: 5px;
    color: #ee761d;
}
.board-list li a {
    color: #737373;
}
.board-list li .author {
    width: 90px;
    text-align: right;
    cursor: pointer;
}
.board-list li .date {
    width: 100px;
    text-align: right;
}
.board-list li .size {
    width: 70px;
    text-align: right;
}
.user-profile-box, .user-profile-box iframe {
    width: 100%;
}
.user-profile-box:before {
    left: 0;
    right: 0;
    margin: auto;
}
.user-profile-box.reverse:before {
    top: auto;
    bottom: -6px;
    background-position: -280px -200px;
}
.user-account-link {
    display: inline-block;
    padding: 5px 8px 3px;
    border-top: 1px solid #ebebeb;
    background-color: #f7f7f9;
    font-size: 0;
}
.user-account-link > li {
    display: inline-block;
    width: 37px;
    text-align: center;
}
.user-account-link > li.mail-search, .user-account-link > li.all-reply {
    width: 47px;
}
.user-account-link > li.add-address {
    width: 57px;
}
.user-account-link > li a {
    font-size: 12px;
    color: #505050;
}
.user-account-link > li a:before {
    display: block;
    width: 30px;
    height: 24px;
    margin: 0 auto;
    background: url("../images/sprite-icon.png") no-repeat 0 0;
    content: '';
}
.user-account-link > li.info a:before {
    background-position: 0 -160px;
}
.user-account-link > li.mail a:before {
    background-position: -40px -160px;
}
.user-account-link > li.talk a:before {
    background-position: -80px -160px;
}
.user-account-link > li.company a:before {
    background-position: -120px -160px;
}
.user-account-link > li.cellphone a:before {
    background-position: -160px -160px;
}
.user-account-link > li.message a:before {
    background-position: -200px -160px;
}
.user-account-link > li.sns a:before {
    background-position: -240px -160px;
}
.user-account-link > li.mail-search a:before {
    background-position: 0 -200px;
}
.user-account-link > li.reply a:before {
    background-position: -40px -200px;
}
.user-account-link > li.all-reply a:before {
    background-position: -80px -200px;
}
.user-account-link > li.add-address a:before {
    background-position: -120px -200px;
}
.tab-panel {
    position: relative;
}
.btn-board-more {
    position: absolute;
    top: -45px;
    right: 0;
}
.btn-board-more > a {
    position: relative;
    float: left;
    width: 44px;
    height: 44px;
    border-left: 1px solid #ebeef3;
    line-height: 44px;
    text-align: center;
}
.btn-board-more .board-prev:after, .btn-board-more .board-next:after, .btn-board-more .board-refresh:after, .btn-board-more .board-more:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    width: 8px;
    height: 15px;
    background: url("../images/sprite-icon.png") no-repeat 0 0;
    content: '';
}
.btn-board-more .board-prev:after {
    background-position: -80px -40px;
}
.btn-board-more .board-next:after {
    background-position: -120px -40px;
}
.btn-board-more .board-refresh:after {
    width: 15px;
    background-position: -160px -40px;
}
.btn-board-more .board-more:after {
    width: 15px;
    background-position: -400px -80px;
}
/* 이벤트 */
.schedule-wrap {
    position: relative;
    margin-right: -18px;
}
.schedule-wrap:before, .schedule-wrap:after {
    content: "";
    display: table;
}
.schedule-wrap:after {
    clear: both;
}
.schedule-registration {
    position: absolute;
    top: 12px;
    right: 16px;
    width: 18px;
    height: 18px;
    background: url("../images/sprite-icon.png") no-repeat -360px -80px;
}
/* Calendar */
.calendar {
    position: absolute;
    top: 11px;
    left: 0;
    width: 405px;
    margin-top: 4px;
    padding: 4px 20px 0 0;
    border-right: 1px solid #e9e9e9;
}
.calendar-head {
    position: relative;
    text-align: center;
}
.calendar-head strong {
    display: block;
    padding-bottom: 20px;
    font: 700 20px 'NanumGothic', sans-serif;
    color: #000;
}
.calendar-head .btn_prev, .calendar-head .btn_next {
    position: absolute;
    bottom: 17px;
    width: 25px;
    height: 28px;
    border: 1px solid #e5e5e5;
    line-height: 28px;
    text-align: center;
}
.calendar-head .btn_prev {
    left: 118px;
}
.calendar-head .btn_next {
    right: 118px;
}
.calendar-head .btn_prev:before, .calendar-head .btn_next:before {
    display: inline-block;
    width: 6px;
    height: 10px;
    background: url("../images/sprite-icon.png") no-repeat 0 0;
    content: '';
}
.calendar-head .btn_prev:before {
    background-position: -400px -160px;
}
.calendar-head .btn_next:before {
    background-position: -440px -160px;
}
.calendar-body {
    width: 100%;
}
.calendar-body th {
    padding: 10px 0;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    color: #333;
}
.calendar-body td {
    position: relative;
    width: 55px;
    padding: 7px 0;
    font-weight: 500;
    color: #808080;
    text-align: center;
}
.calendar-body .sun {
    color: #e3394b;
}
.calendar-body .sat {
    color: #00bebb;
}
.calendar-body .today .day {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    width: 33px;
    margin: auto;
    border-radius: 50%;
    background-color: #80abe3;
    line-height: 2.54;
    color: #fff;
}
.calendar-body td .badge-unit {
    /*top: -1px;*/
    top: auto;
    bottom: 14px;
    right: 0;
}
.calendar-body tbody tr:first-child td {
    padding-top: 15px;
}
.schedule-content {
    overflow-y: auto;
    width: 100%;
    height: 310px;
    margin-top: -10px;
    padding: 33px 0 33px 425px;
}
.schedule-content .selected-date {
    display: block;
    padding-bottom: 15px;
    font: 700 16px 'NanumGothic', sans-serif;
    color: #3a3a3a;
}
.schedule-content .selected-schedule-list li:before {
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-right: 5px;
    background-color: #918f8f;
    vertical-align: 3px;
    content: '';
}
.schedule-content .selected-schedule-list li {
    padding: 6px 0;
}
.schedule-content .selected-schedule-list li a {
    font-weight: 200;
    font-family: 'NotoSansKR', sans-serif;
    color: #737373;
}
.schedule-content .selected-schedule-list span {
    margin-left: 7px;
    color: #ee761d;
}
.portal-theme .tab a:before {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 3px;
    background: url("../images/sprite-icon.png") no-repeat 0 0;
    vertical-align: -3px;
    content: '';
}
.portal-theme .tab.theme1 a:before {
    background-position: -80px -80px;
}
.portal-theme .tab.theme2 a:before {
    background-position: -120px -80px;
}
.portal-theme .tab.theme3 a:before {
    background-position: -160px -80px;
}
.portal-theme .tab.theme4 a:before {
    background-position: -200px -80px;
}
.portal-theme .tab a.active:before {
    background-position-y: -120px;
}
.portal-theme .tab-panel {
    height: 370px;
}
.portal-theme iframe {
    width: 100%;
    height: 370px;
}
.portal-story .tab-panel {
    height: 310px;
    padding: 11px 18px;
}
.profile {
    overflow: hidden;
    padding: 17px 12px 15px 15px;
}
.profile .private span {
    display: block;
    font-weight: 300;
    color: #1f1f1f;
}
.profile .private .user-name {
    margin-bottom: 4px;
}
.profile .private .user-name strong {
    font-weight: 400;
    font-size: 14px;
    color: #00a7e4;
}
.user-service {
    overflow: hidden;
    padding: 22px 10px 4px;
    border-top: 1px solid #e7eaf0;
}
.user-service li {
    position: relative;
    float: left;
    width: 16.66%;
    text-align: center;
}
.user-service li a {
    font-family: 'NanumGothic', sans-serif;
    color: #787878;
}
.user-service li .item-count {
    position: absolute;
    top: -22px;
    left: 0;
    right: 0;
    margin: auto;
}
.user-service li .item-count em {
    position: relative;
    display: inline-block;
    width: auto;
    min-width: 20px;
    height: 12px;
    padding: 0 3px;
    background: #ee761d;
    font-size: 10px;
    line-height: 12px;
    font-style: normal;
    color: #fff;
}
.user-service li .item-count em:after {
    position: absolute;
    left: 0;
    bottom: -4px;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #ee761d;
    content: '';
}
.user-service li:before {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto 1px;
    background: url("../images/sprite-icon.png") no-repeat 0 0;
    content: '';
}
.user-service li.service-item1:before {
    background-position: -240px -40px;
}
.user-service li.service-item2:before {
    background-position: -280px -40px;
}
.user-service li.service-item3:before {
    background-position: -320px -40px;
}
.user-service li.service-item4:before {
    background-position: -360px -40px;
}
.user-service li.service-item5:before {
    background-position: -400px -40px;
}
.user-service li.service-item6:before {
    background-position: -440px -40px;
}
.column-right .tabs {
    padding: 10px 3px;
}
.column-right .tabs .tab a {
    padding-bottom: 7px;
    font-weight: 300;
    font-size: 13px;
    color: #101010;
}
.column-right .tabs .tab a.active {
    color: #00a7e4;
}
.user-convenience {
    border-top: 1px solid #dee3eb;
}
.convenience-head {
    position: relative;
    padding-left: 13px;
    border-bottom: 1px solid #dee3eb;
}
.tabs.convenience-tab {
    display: block;
    padding: 0 81px 0 0;
    border-bottom: 0;
}
.tabs.convenience-tab:before,
.tabs.convenience-tab:after {
    display: table;
    content: '';
}
.tabs.convenience-tab:after {
    clear: both;
}
.tabs.convenience-tab .tab {
    float: left;
    display: block;
    width: auto;
    height: 34px;
    padding: 7px 18px 8px 0;
    text-align: center;
}
.tabs.convenience-tab .tab a {
    /*padding: 0 18px 0 0;*/
    /*border-bottom: 0;*/
    color: #666;
}
.tabs.convenience-tab .tab a.active {
    padding-bottom: 5px;
}
.slide-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 34px;
    padding: 11px 0 8px;
    background-color: #fff;
    border-left: 1px solid #ebeef3;
    font-size: 0;
    line-height: 0;
    text-align: center;
}
.slide-arrow:after {
    display: inline-block;
    width: 6px;
    height: 11px;
    background: url("../images/sprite-icon.png") no-repeat 0 0;
    content: '';
}
.slide-prev {
    right: 34px;
}
.slide-prev:after {
    background-position: -240px -80px;
}
.slide-next:after {
    background-position: -280px -80px;
}
.user-convenience .tab-panel {
    overflow-y: auto;
    height: 220px;
}
/* 전자결재 */
.approval-list {
    padding: 8px 10px;
    font-weight: 200;
    font-size: 12px;
}
.approval-list li {
    position: relative;
    margin: 4px 0;
}
.approval-list li i {
    position: absolute;
    top: 2px;
    left: 0;
}
.approval-list a {
    display: block;
    margin-left: 3px;
    padding-left: 25px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal !important;
}
.approval-list p {
    overflow: hidden;
    padding-left: 28px;
    color: #7d7d7d;
}
.approval-list p span {
    float: left;
}
.approval-list p small {
    float: right;
    font-size: 11px;
}
/* 일정 */
.convenience-schedule {}
.convenience-schedule-head {
    padding: 7px 0;
    background-color: #f2f4f7;
    text-align: center;
}
.convenience-schedule-head strong {
    font-weight: 300;
    color: #333;
}
.convenience-schedule-head a {
    position: absolute;
    top: 6px;
    width: 17px;
    height: 21px;
    border: 1px solid #dadada;
    background: url("../images/sprite-icon.png") no-repeat 0 0;
}
.convenience-schedule-head a.btn-prev {
    left: 83px;
    background-position: -396px -156px;
}
.convenience-schedule-head a.btn-next {
    right: 83px;
    background-position: -436px -156px;
}
.convenience-schedule-head a.btn-register {
    top: 8px;
    right: 9px;
    border: 0;
    background-position: -360px -80px;
}
.convenience-schedule-list {
    height: 148px;
    padding: 7px 16px;
}
.convenience-schedule-list li {
    padding: 7px 0;
}
.convenience-schedule-list a {
    font-weight: 200;
    color: #737373;
}
.convenience-search {
    padding: 6px;
}
.convenience-search .form-control {
    width: auto;
    height: 26px;
}
.convenience-search .btn-search {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-left: 4px;
    background: url("../images/sprite-icon.png") no-repeat -320px -200px;
    vertical-align: middle;
}
.convenience-search.schedule-search {
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #e8e8e8;
}
.convenience-search.schedule-search .form-control {
    width: 208px;
    margin-left: 2px;
}
.convenience-search.worker-search {
    border-bottom: 1px solid #e8e8e8;
}
.convenience-search.worker-search .form-control {
    width: 270px;
    margin-left: 0;
}
.convenience-search.worker-search .btn-search {
    background-position: -360px -200px;
}
.convenience-search-result-text {
    padding: 7px 15px;
    background-color: #f2f4f7;
}
.convenience-search-result-text span {
    color: #ee761d;
}
.convenience-search-result-list {
    overflow-y: auto;
    height: 148px;
    padding: 6px 0;
}
.convenience-search-result-list li {
    padding: 4px 15px;
}
.convenience-search-result-list a {
    display: table;
    width: 100%;
    font-weight: 200;
}
.convenience-search-result-list a span {
    display: table-cell;
}
.convenience-search-result-list a span > em {
    font-style: normal;
    color: #00a7e4;
}
.convenience-search-result-list a span:nth-child(1) {
    width: 55px;
}
.convenience-search-result-list a span:nth-child(2) {
    width: 105px;
}
.convenience-cowork-list {
    padding: 10px 15px;
}
.convenience-cowork-list li {
    padding: 4px 0;
}
.convenience-cowork-list .work-title {
    color: #ef7f2c;
}
.convenience-cowork-list .worker {
    padding: 0 10px;
    color: #737373;
}
.dot-list li:before {
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-right: 5px;
    background-color: #918f8f;
    vertical-align: 3px;
    content: '';
}
.stock {
    padding: 58px 0;
}
.stock-inner {
    width: 214px;
    height: 104px;
    margin: auto;
}
.exchange {
    padding: 25px 0;
}
.exchange iframe {
    display: block;
    width: 180px;
    height: 170px;
    margin: auto;
    overflow: hidden;
}
.user-convenience .no-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    margin: auto;
    text-align: center;
}
/* MY QUICK */
.my-quick-list:before, .my-quick-list:after {
    content: "";
    display: table;
    clear: both;
}
.my-quick-list li {
    position: relative;
    float: left;
    width: 25%;
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    text-align: center;
}
.my-quick-list li:nth-child(4n+1) {
    border-left: 0;
}
.my-quick-list li a {
    display: block;
    padding: 12px 2px 6px;
    font-size: 12px;
    font-family: 'NanumGothic', sans-serif;
    color: #505050;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal !important;
}
.work-support .tab-panel {
    height: 357px;
}
.my-quick-box {
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: 10;
    width: 800px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    -webkit-box-shadow: -3px 2px 8px -2px #eaecef;
    -moz-box-shadow: -3px 2px 8px -2px #eaecef;
    box-shadow: -3px 2px 8px -2px #eaecef;
}
.my-quick-box li {
    width: 10%;
}
.my-quick-box li:nth-child(4n+1) {
    border-left: 1px solid #e8e8e8;
}
.my-quick-box li:nth-child(10n+1) {
    border-left: 0;
}
.my-quick-box li:last-child {
    width: 10.1%;
    border-right: 1px solid #e8e8e8;
}
.my-quick-box li:nth-child(10n) {
    border-right: 0;
}
/* MY QUICK ICON */
.my-quick-list li a:before {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto 6px;
    border-radius: 50%;
    background: #e7eaf0 url("../images/sprite-quick-icon.png") no-repeat 0 0;
    content: '';
}
.my-quick-list li.work-quick1 a:before { /*법무관리*/
     background-position: 0 0;
}
.my-quick-list li.work-quick2 a:before { /*윤리제보*/
    background-position: -50px 0;
}
.my-quick-list li.work-quick3 a:before { /*상상오션*/
    background-position: -100px 0;
}
.my-quick-list li.work-quick4 a:before { /*지식오션*/
    background-position: -150px 0;
}
.my-quick-list li.work-quick5 a:before { /*프로세스포탈*/
    background-position: -200px 0;
}
.my-quick-list li.work-quick6 a:before { /*I.Q.BLUE*/
    background-position: -250px 0;
}
.my-quick-list li.work-quick7 a:before { /*상생포탈*/
    background-position: -300px 0;
}
.my-quick-list li.work-quick8 a:before { /*수처리경영관리*/
    background-position: -350px 0;
}
.my-quick-list li.work-quick9 a:before { /*스마트헬프*/
    background-position: -400px 0;
}
.my-quick-list li.work-quick10 a:before { /*CICS*/
    background-position: -450px 0;
}
.my-quick-list li.work-quick11 a:before { /*CM비즈링*/
    background-position: 0 -50px;
}
.my-quick-list li.work-quick12 a:before { /*C Library*/
    background-position: -50px -50px;
}
.my-quick-list li.work-quick13 a:before { /*신의눈*/
    background-position: -100px -50px;
}
.my-quick-list li.work-quick14 a:before { /*영업정보*/
    background-position: -150px -50px;
}
.my-quick-list li.work-quick15 a:before { /*과정관리*/
    background-position: -200px -50px;
}
.my-quick-list li.work-quick16 a:before { /*소리숲*/
    background-position: -250px -50px;
}
.my-quick-list li.work-quick17 a:before { /*홈케어과정관리*/
    background-position: -300px -50px;
}
.my-quick-list li.work-quick18 a:before { /*BIS*/
    background-position: -350px -50px;
}
.my-quick-list li.work-quick19 a:before { /*러닝센터*/
    background-position: -400px -50px;
}
.my-quick-list li.work-quick20 a:before { /*코웨e-캠퍼스*/
    background-position: -450px -50px;
}
.my-quick-list li.work-quick21 a:before { /*복지몰*/
    background-position: 0 -100px;
}
.my-quick-list li.work-quick22 a:before { /*고충상담*/
    background-position: -50px -100px;
}
.my-quick-list li.work-quick23 a:before { /*하트콘*/
    background-position: -100px -100px;
}
.my-quick-list li.work-quick24 a:before { /*웹전표처리*/
    background-position: -150px -100px;
}
.my-quick-list li.work-quick25 a:before { /*IR*/
    background-position: -200px -100px;
}
.my-quick-list li.work-quick26 a:before { /*경영지원*/
    background-position: -250px -100px;
}
.my-quick-list li.work-quick27 a:before { /*재무정보*/
    background-position: -300px -100px;
}
.my-quick-list li.work-quick28 a:before { /*총무지원*/
    background-position: -350px -100px;
}
.my-quick-list li.work-quick29 a:before { /*직원몰*/
    background-position: -400px -100px;
}
.my-quick-list li.work-quick30 a:before { /*KMRO*/
    background-position: -450px -100px;
}
.my-quick-list li.work-quick31 a:before { /*출장시스템*/
    background-position: 0 -150px;
}
.my-quick-list li.work-quick32 a:before { /*레드캡투어*/
    background-position: -50px -150px;
}
.my-quick-list li.work-quick33 a:before { /*Q-TAS*/
    background-position: -100px -150px;
}
.my-quick-list li.work-quick34 a:before { /*해외사용환경맵시스템*/
    background-position: -150px -150px;
}
.my-quick-list li.work-quick35 a:before { /*OCMS*/
    background-position: -200px -150px;
}
.my-quick-list li.work-quick36 a:before { /*FMEA*/
    background-position: -250px -150px;
}
.my-quick-list li.work-quick37 a:before { /*뉴스스크랩*/
    background-position: -300px -150px;
}
.my-quick-list li.work-quick38 a:before { /*방송홍보자료실*/
    background-position: -350px -150px;
}
.my-quick-list li.work-quick39 a:before { /*코러스*/
    background-position: -400px -150px;
}
.my-quick-list li.work-quick40 a:before { /*사회공헌*/
    background-position: -450px -150px;
}
.my-quick-list li.work-quick41 a:before { /*대외협회 및 기관관리*/
    background-position: 0 -200px;
}
.my-quick-list li.work-quick42 a:before { /*PR자료집*/
    background-position: -50px -200px;
}
.my-quick-list li.work-quick43 a:before { /*홍보요청서*/
    background-position: -100px -200px;
}
.my-quick-list li.work-quick44 a:before { /*언론제보시스템*/
    background-position: -150px -200px;
}
.my-quick-list li.work-quick45 a:before { /*ESH*/
    background-position: -200px -200px;
}
.my-quick-list li.work-quick46 a:before { /*웹팩스*/
    background-position: -250px -200px;
}
.my-quick-list li.work-quick47 a:before { /*스캔서버*/
    background-position: -300px -200px;
}
.my-quick-list li.work-quick48 a:before { /*보안인증센터*/
    background-position: -350px -200px;
}
.my-quick-list li.work-quick49 a:before { /*정보보호포탈*/
    background-position: -400px -200px;
}
.my-quick-list li.work-quick50 a:before { /*웹하드*/
    background-position: -450px -200px;
}
.my-quick-list li.work-quick51 a:before { /*정보보호제보시스템*/
    background-position: 0 -250px;
}

.my-quick-list .need-login:after {
    position: absolute;
    top: 10px;
    right: 8px;
}
.my-quick-option {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 15px;
    border-top: 1px solid #e8e8e8;
}
.my-quick-option span {
    float: left;
}
.my-quick-list .need-login:after, .my-quick-option span:before {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 4px;
    background: url("../images/sprite-icon.png") no-repeat -40px -120px;
    vertical-align: bottom;
    content: '';
}
.my-quick-option .btn-set {
    float: right;
}
/* 일정관리 */
.schedule-box {}
.schedule-box .tabs {
    overflow: hidden;
    padding: 8px 9px;
    background-color: #f7f7f9;
}
.schedule-box .tab {
    float: left;
    width: 14.28%;
    text-align: center;
}
.schedule-box .tabs .tab a {
    font-size: 12px;
    color: #616161;
}
.schedule-box .tab small {
    display: block;
}
.schedule-box .tabs .tab a.active {
    border-bottom: 0;
    color: #f57f35;
}
.schedule-box .tab-panel {
    overflow: hidden;
    overflow-y: auto;
    height: 182px;
    padding: 7px 15px;
}
.schedule-board-list {
    font-size: 12px;
}
.schedule-board-list li {
    padding: 5px 0;
    cursor: pointer;
}
.schedule-board-list li:before {
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-right: 5px;
    background-color: #918f8f;
    vertical-align: 3px;
    content: '';
}
.schedule-board-list li small {
    color: #ee761d;
}
.schedule-divide {
    margin: -7px -15px;
}
.schedule-divide > li {
    display: table;
    width: 100%;
    padding: 3px 15px;
    border-top: 1px solid #ebeef3;
}
.schedule-divide > li:first-child {
    border-top: 0;
}
.schedule-divide .divide-label {
    display: table-cell;
    width: 50px;
    font-weight: 500;
    vertical-align: middle;
}
.schedule-divide .divide-label + .divide-content {
    display: table-cell;
}
.schedule-divide .schedule-board-list {
    overflow: hidden;
    overflow-y: auto;
    height: 60px;
    margin: -3px -15px -3px 0;
    padding: 3px 15px 3px 0;
}
.schedule-divide .schedule-board-list li {
    padding: 0;
    font-weight: 200;
}
.btn-schedule {
    position: absolute;
    top: -40px;
    right: 0;
}
.btn-schedule a {
    display: inline-block;
    width: 38px;
    height: 39px;
    border-left: 1px solid #ebeef3;
    line-height: 45px;
    text-align: center;
}
.btn-schedule a:after {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/sprite-icon.png") no-repeat 0 0;
    content: '';
}
.btn-schedule a.schedule-register:after {
    background-position: -360px -80px;
}
.btn-schedule a.schedule-more:after {
    background-position: -400px -80px;
}
.schedule-option {
    overflow: hidden;
    width: 100%;
    padding: 7px 10px 7px 12px;
    border-top: 1px solid #e8e8e8;
}
.schedule-option span {
    float: left;
    padding-top: 2px;
    color: #6c6c6c;
}
.schedule-option .selectbox {
    float: right;
    width: 150px;
}
.tooltip-box {
    display: none;
    position: absolute;
    z-index: 9999;
    width: 300px;
    padding: 7px;
    border: 1px solid #dbe0e4;
    border-radius: 2px;
    background-color: #fff;
    font-size: 12px;
}
.tooltip-box:before {
    position: absolute;
    top: -6px;
    left: 28px;
    right: auto;
    z-index: 11;
    width: 11px;
    height: 6px;
    background: url("../images/sprite-icon.png") no-repeat -320px -160px;
    content: '';
}
.tooltip-box.reverse:before {
    top: auto;
    bottom: -6px;
    background-position: -280px -160px;
}
.tooltip-box span {
    display: block;
    margin: 0 -7px 10px;
    padding: 0 7px 7px;
    border-bottom: 1px solid #dbe0e4;
}

/**********************************************
    Work
    *******************************************/
.portal-schedule-detail {
    position: relative;
}
.portal-schedule-detail .btn-board-more {
    top: 0;
}
.portal-schedule-detail .tab-panel {
    height: 450px;
}
.schedule-detail-wrap {}
.schedule-detail-wrap:before, .schedule-detail-wrap:after {
    display: table;
    content: '';
}
.schedule-detail-wrap:after {
    clear: both;
}
.schedule-detail-wrap > li {
    position: relative;
    float: left;
    width: 33.33%;
    border-left: 1px solid #e5e9ef;
}
.schedule-detail-wrap > li:nth-child(3n+1) {
    border-left: 0;
}
.schedule-detail-wrap .schedule-register {
    position: absolute;
    top: 13px;
    right: 15px;
}
.schedule-detail-title {
    padding: 10px 0 8px;
    background-color: #f2f4f7;
    font: 700 14px/1.93 'NanumGothic', sans-serif;
    color: #000;
    text-align: center;
}
.schedule-detail-title .selectbox {
    margin-left: 5px;
}
.schedule-detail-title .selectbox-value {
    width: 80px;
    background-color: #f2f4f7;
}
.schedule-detail-content {
    overflow: hidden;
    overflow-y: auto;
    height: 181px;
    padding: 6px 15px;
}
/* HUB/회의 목록, 요청받은 일정 */
.work-schedule {
    position: relative;
}
.work-schedule .tab-panel {
    overflow: hidden;
    overflow-y: auto;
    height: 139px;
    padding: 7px 16px;
}
.work-schedule-list li {
    overflow: hidden;
    padding: 3px 0;
}
.work-schedule-list li small {
    float: right;
    font-size: 11px;
    color: #7d7d7d;
}
.request-option {
    position: absolute;
    top: 7px;
    right: 10px;
}
.request-option .selectbox {
    width: 74px;
    margin-right: 9px;
}
