body, .btn {
    font-family: 'NanumGothic', sans-serif;
}
.clearfix {
    clear: both;
}
.wrap {
    width:expression(document.body.clientWidth < 1200? "1200px": "auto" );
}
.icon-home, .icon-monitor, .icon-set {
    background-image: url("../images/sprite-icon.png");
    font-size: 0;
    line-height: 0;
    color: transparent;
    vertical-align: middle !important;
    font-style: normal;
}
.before-arrow {
    position: absolute;
    top: -6px;
    right: 162px;
    z-index: 99;
    width: 11px;
    height: 6px;
    background: url("../images/sprite-icon.png") no-repeat -320px -160px;
    content: '';
}
.quick-access li {
    float: left;
    margin: 10px 10px 0 0;
}
.quick-access li a {
    display: block;
    width: 30px;
    height: 30px;
    background: url("../images/sprite-icon.png") no-repeat 0 0;
}
.quick-access li.quick-search a.active {
    position: relative;
}
.quick-access li.quick-search .search-box .selectbox {
    _width: 90px;
    _height: 40px;
    _padding: 5px 0 0 5px;
}
.quick-access li.quick-search .search-box .selectbox-value {
    _display: none;
}
.quick-access li.quick-search .search-box select {
    width: 80px;
    _margin: 10px 5px 0;
}
.quick-access li.quick-search .search-input {
    _padding-top: 8px;
}
.quick-access li.quick-search .search-input .form-control {
    width: 230px;
    _height: 23px;
}
.quick-access li.quick-user a {
    overflow: hidden;
    width: 48px;
    height: 48px;
    background: #dee3eb none;
}
.quick-access li.quick-user a img {
    width: 100%;
    vertical-align: middle;
}
.quick-access li.quick-user a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    background: url("../images/second-header/quick-user.png") no-repeat 0 0;
}
.badge-unit {
    padding: 0 7px;
    background: url("../images/second-header/badge-unit-left.gif") no-repeat 0 0;
}
.badge-unit .badge-unit-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 7px;
    height: 16px;
    background: url("../images/second-header/badge-unit-right.gif") no-repeat 100% 0;
}
.header-top {
    position: relative;
    z-index: 11;
}
.quick-link {
    float: left;
}
.quick-access li.quick-user .user-box {
    z-index: 20;
}
.quick-access li.quick-user .user-box .before-arrow {
    top: -6px;
    right: 32px;
}
.quick-access li.quick-user .user-box .btn-close {
    width: 13px;
    height: 13px;
    background: transparent url(../images/sprite-icon.png) no-repeat 0 -120px;
}
.quick-access li.quick-user .user-image {
    overflow: hidden;
    position: relative;
    width: 75px;
    height: 75px;
}
.quick-access li.quick-user .user-image img {
    width: 100%;
}
.quick-access li.quick-user .user-image span {
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
    background: url("../images/second-header/user-image.png") no-repeat 0 0;
}
.quick-access li.quick-user .user-account {
    padding-bottom: 18px;
}
.quick-access li.quick-user .user-account li {
    float: none;
    margin: 0;
}
.quick-access li.quick-user .user-account .user-name {
    margin-bottom: 7px;
    _margin-bottom: 5px;
}
.quick-access li.quick-user .user-account .my-information {
    margin-top: 7px;
    _margin-top: 5px;
    zoom: 1;
}
.quick-access li.quick-user .user-account .my-information a,
.quick-access li.quick-user .user-account .my-information a span {
    width: auto;
    height: auto;
    background: transparent none;
}
.quick-access li.quick-user .user-account .my-information a span {
    position: relative;
}
.header-bottom {
    z-index: 10;
    height: 58px;
    text-align: center;
}
.magamenu {
    position: relative;
    z-index: 11;
    display: inline-block;
    _display:inline;
    zoom:1;
}
.quick-link .btn {
    _height: 30px;
    _padding-top: 6px;
}
.quick-link .btn i {
    _margin-right: 3px;
}
/* 메인메뉴 */
.menu {
    float: left;
}
.menu li {
    position: relative;
    /*display: inline;*/
    float: left;
}
.menu li a {
    display: block;
    padding: 19px 30px;
    _padding: 20px 30px 16px;
    font-weight: 700;
    font-size: 15px;
    color: #4f4f4f;
}
.menu li a:hover, .menu li.current a {
    color: #00a7e4;
}
.menu li.menu-child-after:after {
    display: none;
}
.menu li .menu-child {
    top: 60px;
    width: 650px;
    padding-top: 13px;
}
.menu li .menu-child li a {
    padding: 0 6px;
    font-size: 14px;
    color: #fff !important;
}
/* 메인메뉴 2뎁스 배경 */
.header-bottom .menu-child-after-box {
    display: none;
    position: absolute;
    top: 57px;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 49px;
    background-color: #00a7e4;
}
/* 전체메뉴 */
.btn-all-menu:before {
    display: none;
}
.all-menu {
    float: left;
    margin-top: 21px;
    padding-left: 30px;
    border-left: 1px solid #dfdfdf;
}
.all-menu a {
    margin-left: 0;
    text-align: right;
}
.all-menu-box {
    top: 36px;
}
.all-menu-box:before {
    display: none;
}
.all-menu-list li {
    float: left;
    text-align: left;
    vertical-align: top;
}
.all-menu-list li a {
    padding: 0 25px;
    color: #000;
}
.all-menu-list li ul {
    padding-left: 25px;
}
.all-menu-list li ul li {
    float: none;
    _padding: 3px 0;
}
.all-menu-list li.first a, .all-menu-list li.first ul {
    padding-left: 0;
}
.all-menu-list li.last a, .all-menu-list li.last ul {
    padding-right: 0;
}
.all-menu-list li ul li a {
    padding: 2px 0;
    font-weight: 200;
    color: #737373;
}
.all-menu-list li ul li a:hover, .all-menu-list li ul li.current a {
    color: #00a7e4;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-width: 1200px;
    margin: auto;
}
.footer-menu li {
    display: inline;
}
.footer-menu li:before {
    _display: none
}
.footer-menu li a {
    _margin-left: 10px;
    _padding-left: 10px;
    _border-left: 1px solid #cacaca;
}
.footer-menu li.first a {
    _border-left: 0;
}
.write-approval-box {
    _padding-bottom: 10px;
}
.write-approval-box.reverse .before-arrow {
    top: auto;
    bottom: -6px;
    _bottom: -16px;
    left: 110px;
    right: auto;
    background-position: -280px -160px;
}
.write-approval-box a {
    margin-left: 0 !important;
    padding-left: 0 !important;
    border-left: 0 !important;
}
.write-approval-box .document-title {
    _padding: 7px 15px 9px;
    _font-weight: bold;
}
.write-approval-box .icon-set {
    top: 5px;
    right: 40px;
    z-index: 13;
}
.write-approval-box .no-content {
}
.write-approval-box .no-content span {
    top: 68px;
    left: 143px;
    width: 215px;
}
