/**********************************************
    View
    *******************************************/
.selectbox .selectbox-value:after {
    right: 7px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #949494;
}
.view-content, .preview-content, .preview {
    overflow: hidden;
}
.view-content .objbox, .preview-content .objbox, .preview .objbox {
    overflow: hidden !important;
    overflow-y: auto !important;
}
.view {
    float: left;
    width: 100%;
}
.view-inner {
    border: 1px solid #dee3eb;
    background-color: #fff;
}
/* Header */
.view-head {
    padding: 13px 10px 11px;
}
.view-head:before, .view-head:after {
    display: table;
    content: '';
}
.view-head:after {
    clear: both;
}
.view-head-btn {
    float: left;
}
.view-head-btn > * {
    float: left;
    margin-right: 5px;
}
.view-head-btn > *:last-child {
    margin-right: 0;
}
.view-head-btn .checkbox-box {
    padding: 6px 10px 9px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
}
.view-head-btn .selectbox .selectbox-value {
    padding: 0 20px 0 8px;
    line-height: 34px;
    color: #444;
}
.view-head-btn .selectbox:hover .selectbox-value {
    background-color: #f1f2f2;
}
.btn-display-left:before {
    display: inline-block;
    width: 16px;
    height: 12px;
    background: url("../images/sprite-icon.png") no-repeat -440px -280px;
    vertical-align: -1px;
    content: '';
}
.preview-type {}
.preview-type .btn:before {
    display: inline-block;
    width: 12px;
    height: 11px;
    background: url("../images/sprite-icon.png") no-repeat 0 0;
    content: '';
}
.preview-type .type-list:before {
    background-position: -320px -320px;
}
.preview-type .type-vertical:before {
    background-position: -360px -320px;
}
.preview-type .type-horizontal:before {
    background-position: -400px -320px;
}
.preview-type .type-list.selected:before {
    background-position: -320px -360px;
}
.preview-type .type-vertical.selected:before {
    background-position: -360px -360px;
}
.preview-type .type-horizontal.selected:before {
    background-position: -400px -360px;
}
.btn-arrow-prev, .btn-arrow-next {
    position: relative;
    width: 34px;
    height: 36px;
}
.btn-arrow-prev:before, .btn-arrow-next:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    margin: auto;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
}
.btn-arrow-prev:before {
    border-bottom: 6px solid #00a7e4;
}
.btn-arrow-next:before {
    border-top: 6px solid #00a7e4;
}
.btn-print:before {
    display: inline-block;
    width: 14px;
    height: 13px;
    background: url("../images/sprite-icon.png") no-repeat -400px -280px;
    vertical-align: -1px;
    content: '';
}
.view-head-search {
    float: right;
}
.view-head-search .search-box {
    height: 36px;
}
.view-head-search .search-box .selectbox .selectbox-value {
    line-height: 34px;
}
.view-head-search .search-box .search-input {
    max-width: 95px;
}
.view-head-search .search-box .search-input .form-control {
    height: 34px;
}
.view-body {
    border-top: 1px solid #e5e5e5;
}
.view-paging {
    height: 58px;
    border-top: 1px solid #e5e5e5;
}
.view-content-wrap + .view-preview {
    position: relative;
    display: none;
}
.view-type.vertical .view-content-wrap + .view-preview,
.view-type.horizontal .view-content-wrap + .view-preview {
    display: block;
}
.view-type.vertical .split-move-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    cursor: n-resize;
}
.view-type.horizontal {
    overflow: hidden;
}
.view-type.horizontal .view-content-wrap, .view-type.horizontal .view-content-wrap + .view-preview {
    float: left;
    width: 50%;
}
.view-type.horizontal .view-content-wrap + .view-preview {
    padding-left: 3px;
}
.view-type.horizontal .split-move-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    cursor: ew-resize;
}
/* 메일 자동분류 기능 레이어 */
.layer-preview-mail {
    width: 400px;
    padding: 13px 13px 5px;
}

/*게시판 상단 롤링 공지사항*/
.head-notice-area {
    overflow: hidden;
    margin-bottom: 13px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}
.head-notice-area .notice-text,
.head-notice-area .slide-notice {
    float: left;
}
.head-notice-area .notice-text:after {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 12px 0 10px;
    background-color: #efefef;
    vertical-align: -1px;
    content: '';
}

/**********************************************
    dhtmlx Custom
    *******************************************/
body {
    margin: 0 !important;
}
select, div, form, a:link {
    font-family: 'NotoSansKR', sans-serif;
}
.containerTableStyle table {
    width: 100%;
}
div.gridbox_dhx_terrace.gridbox table.obj {
    width: 100% !important;
}
div.gridbox_dhx_terrace.gridbox .xhdr {
    border-bottom-color: #f1f1f1;
}
div.gridbox_dhx_terrace.gridbox table.hdr td {
    background-color: #f8f8f8 !important;
    vertical-align: middle !important;
}
div.gridbox_dhx_terrace.gridbox table.obj tr.rowselected,
div.gridbox_dhx_terrace.gridbox table.obj tr.rowselected td,
div.gridbox_dhx_terrace.gridbox table.obj tr.rowselected td.cellselected {
    background-color: #f5f6f9;
}
div.gridbox table.obj tr:last-child td,
div.gridbox_dhx_terrace.gridbox table.obj tr td {
    border-color: #e5e5e5;
}
div.gridbox_dhx_terrace.gridbox table.obj tr td.msender_menu {
    border-width: 1px;
    background-color: #fff;
}
div.gridbox_dhx_terrace.gridbox table.obj tr td.msender_menu a {
    word-break: break-all;
}
div.gridbox_dhx_terrace.gridbox {
    border-bottom:0;
}
div.gridbox_dhx_terrace.gridbox table.obj tr td .treegrid_cell img {
    vertical-align: middle;
}
/* paging */
#pagingArea > div {
    position: relative;
    width: 100% !important;
    margin-top: -1px;
    border-top: 1px solid #e5e5e5;
}
.dhx_pline {
    width: 100% !important;
    margin: 12px 0 -8px;
    text-align: center;
}
.dhx_pline div {
    display: inline-block;
}
.dhx_page {
    border-radius: 0;
    background-color: #ccc;
}
div.dhx_page_active {
    background-color: #ccc;
    font-weight: 400;
    color: #ee761d;
}
.dhx_page div {
    width: 24px !important;
    border-radius: 0;
    background-color: #fff;
    font-family: 'NotoSansKR', sans-serif;
}
.dhx_pager_info {
    position: static;
    float: right;
    padding-right: 13px;
}
.dhx_pager_info > div {
    font-weight: 200;
    font-family: 'NotoSansKR', sans-serif;
    color: #000;
    letter-spacing: .5px;
}
.dhx_pline + .dhx_pager_info {
    margin-top: -18px;
}
td.msender_menu {
    border: 1px solid red !important;
}